@color-bg: #95c2be;
body {
  background: @color-bg url("../imgs/background.jpg") no-repeat center top;
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
}

.top-content-wrap {
  margin-top: 25%;
  h1, h2 {
    background: #FFF;
    display: inline-block;
    margin: 2px;
    padding: 5px 20px;
    font-size: 2.5rem;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  }
  h1 {
    font-weight: 700;
    font-size: 4.5rem;
  }
}

#arrow-wrap {
  position: absolute;
  top: 270px;
}

#brands {
  margin-top: 250px;
  .col-md-4 {
    margin-bottom: 5px;
  }
  .brand {
    background: #FFF;
    text-align: center;
    margin: 10px 0;
    height: 130px;
    line-height: 130px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .brands-wrap {
    width: 100%;
    height: auto;
    h1 {
      text-align: center;
      color: #FFF;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
      font-size: 4.5rem;
      padding-bottom: 30px;
    }
  }
}

#contact {
  height: 1000px;
  background: transparent url("../imgs/contact-background.png") repeat center bottom;
  .contact-top-wrap {
    text-align: center;
    padding-top: 100px;
    h1 {
      font-weight: 700;
      font-size: 5.5rem;
      background: #FFF;
      display: inline-block;
      margin: 10px 0 0 0;
      padding: 5px 20px;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
  }
  .contact-info {
    padding-top: 110px;
    p {
      font-size: 2.0rem;
      margin: 1px;
      background: #FFF;
      display: inline-block;
      padding: 2px 8px;
      &.small {
        font-size: 1.2rem;
      }

    }
    h3 {
      font-size: 4.0rem;
      margin: 1px;
      background: #FFF;
      display: inline-block;
      padding: 2px 8px;
      font-weight: 700;
    }
    .black {
      background: #000;
      color: #FFF;
    }
    .orange {
      background: #ff6200;
      color: #FFF;
    }
    .skewed {
      -ms-transform: skew(-15deg); /* IE 9 */
      -webkit-transform: skew(-15deg); /* Chrome, Safari, Opera */
      transform: skew(-15deg);
      display: inline-block;
      padding: 0 10px;
      p, h2 {
        -ms-transform: skew(15deg); /* IE 9 */
        -webkit-transform: skew(15deg); /* Chrome, Safari, Opera */
        transform: skew(15deg);
        background: transparent;
        color: #FFF;
      }
      h2 {
        font-weight: 700;
        padding: 5px 0;
        margin: 0;
      }
    }
  }
}

.mask {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
  display: none;
  .map-wrap {
    display: none;
    .close {
      position: absolute;
      left: 101%;
      top: -5%;
      z-index: 11;
      a {
        color: #FFF;
        text-decoration: none;
        text-shadow: none;
      }
    }
    z-index: 10;
    position: absolute;
    height: 450px;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -300px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    background: #FFF;
  }
}
a{
  text-decoration: none;
  text-shadow: none;
  color:inherit;
  &:hover{
    text-decoration: none;
  }
}